// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

@import "compass/utilities/lists/horizontal-list";
@import "compass/css3";
@import "compass/utilities/links";
// Import all the default blukkeprint modules so that we can access their mixins.
@import "blueprint";

body {
  @include blueprint-typography(true);
  a {
    @include link-colors($post_link_color, $post_link_color, $post_link_color, $post_link_color, $post_link_color);
    text-decoration: none;
  }
  #container {
    @include container; }
  #header, #footer {
    @include column($blueprint-grid-columns);
    h1 {
      @include float-left;
      @include text-shadow;
      margin-top: 0.5em;
      a {
        &:hover {
          @include text-shadow($default-text-shadow-color, 1px, 1px, 5px);
          text-decoration:none;
          font-weight:normal;
         }
      }
    }
    ul {
      text-align:right;
      @include no-bullets;
      @include float-right;
      li {
      }
      margin-bottom: 0.75em;
      margin-top: 0.75em;
    }
    a:hover {
      @include text-shadow($default-text-shadow-color, 1px, 1px, 1px);
    }
  }
  #header {
    border-bottom: #000 solid 3px;
  }
  #content {
    @include column($blueprint-grid-columns);
    margin-top: 2em;
  }


  div.post, div.post_single {
    .details {
      @include column($blueprint-grid-columns, true);
      display: inline;
      &:hover {
      }
      span.date { @include column(2); }
      h2 {
        @include column(($blueprint-grid-columns - 2), true);
      }
    }

    div.content {
      @include prepend(2);
      @include column(($blueprint-grid-columns - 2), true);
    }
    div.meta {
    }
  }
  div.post_single {
    .content {
      @include prepend(0);
      @include column($blueprint-grid-columns, true);
    }
  }
}
